### Puxar base de dados

In [16]:
import pandas as pd

exportacao_df = pd.read_csv("exportacoes_franca.csv")

display(exportacao_df)

,Year,Month,Country,City,SH4 Code,SH4 Description,SH2 Code,SH2 Description,Economic Block,US$ FOB,Net Weight
0,2016,1,France,Águas Mornas - SC,303,"Fish, frozen, excluding fish fillets and other...",3,"Fish and crustaceans, molluscs and other aquat...",Europe,79360,14150
1,2016,1,France,Águas Mornas - SC,303,"Fish, frozen, excluding fish fillets and other...",3,"Fish and crustaceans, molluscs and other aquat...",European Union (EU),79360,14150
2,2016,1,France,Águas Mornas - SC,304,Fish fillets and other fish meat (whether or n...,3,"Fish and crustaceans, molluscs and other aquat...",Europe,69412,9385
3,2016,1,France,Águas Mornas - SC,304,Fish fillets and other fish meat (whether or n...,3,"Fish and crustaceans, molluscs and other aquat...",European Union (EU),69412,9385
4,2016,1,France,Alfenas - MG,901,"Coffee, whether or not roasted or decaffeinate...",9,"Coffee, tea, maté and spices",Europe,180914,57600
...,...,...,...,...,...,...,...,...,...,...,...
142355,2020,12,France,Vinhedo - SP,8424,Mechanical appliances (whether or not hand-ope...,84,"Nuclear reactors, boilers, machinery and mecha...",European Union (EU),2316,4
142356,2020,12,France,Vitória de Santo Antão - PE,714,"Manioc, arrowroot, salep, Jerusalem artichokes...",7,Edible vegetables and certain roots and tubers,Europe,27060,26400
142357,2020,12,France,Vitória de Santo Antão - PE,714,"Manioc, arrowroot, salep, Jerusalem artichokes...",7,Edible vegetables and certain roots and tubers,European Union (EU),27060,26400
142358,2020,12,France,Xapuri - AC,4409,Wood (including strips and friezes for parquet...,44,Wood and articles of wood; wood charcoal,Europe,31111,23045
142359,2020,12,France,Xapuri - AC,4409,Wood (including strips and friezes for parquet...,44,Wood and articles of wood; wood charcoal,European Union (EU),31111,23045

### Informações Gerais

In [20]:
#exportacao_df.info

display(exportacao_df.describe())

,Year,Month,SH4 Code,SH2 Code,US$ FOB,Net Weight
count,142360.000000,142360.000000,142360.000000,142360.000000,1.423600e+05,1.423600e+05
mean,2018.065665,6.591922,6169.147246,61.516985,1.650039e+05,6.500505e+05
std,1.407972,3.462344,2655.071462,26.471381,1.247205e+06,9.875910e+06
min,2016.000000,1.000000,101.000000,1.000000,0.000000e+00,0.000000e+00
25%,2017.000000,4.000000,4009.000000,40.000000,4.170000e+02,3.000000e+00
50%,2018.000000,7.000000,7117.000000,71.000000,4.256500e+03,3.800000e+01
75%,2019.000000,10.000000,8483.000000,84.000000,3.710700e+04,3.185000e+03
max,2020.000000,12.000000,9999.000000,99.000000,1.086352e+08,7.100291e+08

### Como foi a evolução das exportações para a frança ao longo dos anos?

In [21]:
exportacao_ano = exportacao_df.groupby("Year").sum()

display(exportacao_ano)

       Month   SH4 Code  SH2 Code     US$ FOB   Net Weight
Year
2016  175210  169175582   1686892  4615500082  21798116518
2017  170098  166934928   1664620  4448705456  22556529252
2018  185248  171427598   1709336  5239424416  20905240132
2019  210812  198546658   1979926  5218723612  16412415350
2020  197058  172155036   1716784  3967594810  10868888048

### Quais os produtos mais exportados ao longo de todo o período?

### Em 2020 qual cidade mais exportou para a França?

### O que as 2 maiores cidades exportaram tanto?