### Puxar base de dados

In [1]:
import pandas as pd

exportacao_df = pd.read_csv("exportacoes_franca.csv")
exportacao_df = exportacao_df.loc[exportacao_df['Economic Block']=='Europe', :]
display(exportacao_df)

,Year,Month,Country,City,SH4 Code,SH4 Description,SH2 Code,SH2 Description,Economic Block,US$ FOB,Net Weight
0,2016,1,France,Águas Mornas - SC,303,"Fish, frozen, excluding fish fillets and other...",3,"Fish and crustaceans, molluscs and other aquat...",Europe,79360,14150
2,2016,1,France,Águas Mornas - SC,304,Fish fillets and other fish meat (whether or n...,3,"Fish and crustaceans, molluscs and other aquat...",Europe,69412,9385
4,2016,1,France,Alfenas - MG,901,"Coffee, whether or not roasted or decaffeinate...",9,"Coffee, tea, maté and spices",Europe,180914,57600
6,2016,1,France,Alta Floresta - MT,4409,Wood (including strips and friezes for parquet...,44,Wood and articles of wood; wood charcoal,Europe,47828,28306
8,2016,1,France,Ananindeua - PA,1211,Plants and parts of plants (including seeds an...,12,"Oil seeds and oleaginous fruits; Grains, Seeds...",Europe,391,22
...,...,...,...,...,...,...,...,...,...,...,...
142350,2020,12,France,Vinhedo - SP,4016,Other articles of vulcanised rubber other than...,40,Rubber and articles thereof,Europe,136,0
142352,2020,12,France,Vinhedo - SP,6806,"Slag wool, rock wool and similar mineral wools...",68,"Articles of stone, plaster, cement, asbestos, ...",Europe,76,50
142354,2020,12,France,Vinhedo - SP,8424,Mechanical appliances (whether or not hand-ope...,84,"Nuclear reactors, boilers, machinery and mecha...",Europe,2316,4
142356,2020,12,France,Vitória de Santo Antão - PE,714,"Manioc, arrowroot, salep, Jerusalem artichokes...",7,Edible vegetables and certain roots and tubers,Europe,27060,26400
142358,2020,12,France,Xapuri - AC,4409,Wood (including strips and friezes for parquet...,44,Wood and articles of wood; wood charcoal,Europe,31111,23045

### Informações Gerais

In [2]:
#exportacao_df.info

display(exportacao_df.describe())

,Year,Month,SH4 Code,SH2 Code,US$ FOB,Net Weight
count,71180.000000,71180.000000,71180.000000,71180.000000,7.118000e+04,7.118000e+04
mean,2018.065665,6.591922,6169.147246,61.516985,1.650039e+05,6.500505e+05
std,1.407976,3.462356,2655.080787,26.471474,1.247209e+06,9.875945e+06
min,2016.000000,1.000000,101.000000,1.000000,0.000000e+00,0.000000e+00
25%,2017.000000,4.000000,4009.000000,40.000000,4.170000e+02,3.000000e+00
50%,2018.000000,7.000000,7117.000000,71.000000,4.256500e+03,3.800000e+01
75%,2019.000000,10.000000,8483.000000,84.000000,3.710700e+04,3.185000e+03
max,2020.000000,12.000000,9999.000000,99.000000,1.086352e+08,7.100291e+08

### Como foi a evolução das exportações para a frança ao longo dos anos?

In [5]:
exportacao_ano = exportacao_df.groupby("Year").sum()

def formartar(valor):
    return f"${valor:,.2f}"

exportacao_ano["US$ FOB"] = exportacao_ano["US$ FOB"].map(formartar)
display(exportacao_ano)

       Month  SH4 Code  SH2 Code            US$ FOB   Net Weight
Year
2016   87605  84587791    843446  $2,307,750,041.00  10899058259
2017   85049  83467464    832310  $2,224,352,728.00  11278264626
2018   92624  85713799    854668  $2,619,712,208.00  10452620066
2019  105406  99273329    989963  $2,609,361,806.00   8206207675
2020   98529  86077518    858392  $1,983,797,405.00   5434444024

### Quais os produtos mais exportados ao longo de todo o período?

### Em 2020 qual cidade mais exportou para a França?

### O que as 2 maiores cidades exportaram tanto?